div.header {
    article.your-relatives {
        padding: 20px 0;
    }
}

div.container {
    article.your-relatives {
        padding: 20px 0 40px 0;

        caption {
            text-align: left;
            label {
                float: left;
                font-weight: bold;
                line-height: 30px;
                margin-right: 10px;
            }
            input[type="text"] {
                height: 22px; 
                padding: 4px 8px;
                margin: 0 10px 0 0;
            }
            button {
                height: 30px;
            }
        }

        thead {
            th {
                padding: 7px 0;
                a {
                    padding: 7px 12px 7px 0;
                    display: inline-block;
                }
            }
        }

        tbody {
            tr.relative {
                overflow: auto;
                border-bottom: 1px solid #e0e0e0;
                td {
                    padding: 8px 10px;
                    &.center {
                        text-align: center;
                    }
                }
                &:nth-child(odd) {
                    td {
                        background: #f4f4f4;
                    }
                }
            }
        }
    }
}
