article.search-results {
    padding: 20px 0 20px 0;

    ul {
        margin: 0;
        list-style: none;
        width: 529px;
        padding: 0 20px 0 0;
        border-right: 1px solid #e0e0e0;

        li {
            padding: 15px 0;
            overflow: auto;
            border-bottom: 1px solid #e0e0e0;
            img {
                float: left;
                margin-right: 10px;
                border: 1px solid #909090;
            }
            h3 {
                font-size: 14px;
            }
            h4 {
                font-weight: normal;
                del {
                    color: #909090;
                }
            }
        }
    }
}
